<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" >
  
  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro"> 
    <link name="base_link">
      
      <inertial>
	<origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="1.477" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://imav_2017/meshes/quadrotor/quadrotor_4.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://imav_2017/meshes/quadrotor/quadrotor_4.stl"/>
        </geometry>
      </collision>
<!--       
      <gazebo reference="base_link">
        <sensor type="contact" name="base_link_contact_sensor">
          <contact>
            <collision>base_link_collision</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
            <frameName>base_link</frameName>
            <bumperTopicName>collision</bumperTopicName>
            <updateRate>100.0</updateRate>
          </plugin>
        </sensor>
      </gazebo> -->

    </link>
  </xacro:macro>
</robot>
